/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

/* Estilos para la sección de servicios */
#services {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

#services h2 {
    font-size: 28px;
    color: #333;
}

#services ul {
    list-style: none;
    padding: 0;
}

#services li {
    font-size: 18px;
    margin: 10px 0;
}

/* Estilos para la sección "Sobre Nosotros" */
#about {
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
}

#about h2 {
    font-size: 28px;
    color: #333;
}

#about p {
    font-size: 16px;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
}

/* Estilos para la sección de contacto */
#contact {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

#contact h2 {
    font-size: 28px;
}

#contact p {
    font-size: 16px;
    max-width: 800px;
    margin: 0 auto;
}

address {
    font-size: 14px;
}

address a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
